.App {
  text-align: center;
  padding: 20px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  margin-bottom: 20px;
  width: 70%; /* Adjust the width as needed */
}

/* Adjust the style of the slider track and handle */
.ant-slider-track {
  background-color: #1890ff; /* Change the color as needed */
}

.ant-slider-handle {
  border-color: #1890ff; /* Change the color as needed */
}
